* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f8f9fa;
}

nav {
    background: #c1121f;
    color: white;
    padding: 20px;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
}

button {
    background: #c1121f;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.donor-form {
    width: 80%;
    margin: 100px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donor-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.request-section {
    width: 80%;
    margin: 100px auto;
    background: #fff5f5;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #c1121f;
}

nav {
    background: #c1121f;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.blood-groups {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.blood-groups h2 {
    margin-bottom: 40px;
    font-size: 35px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #c1121f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    background: #c1121f;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 30px;
}

footer p {
    margin: 10px 0;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}

@media(max-width:768px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero h2 {
        font-size: 28px;
    }
}